In [40]:
import pandas as pd

# from collections import Counter
# from string import punctuation

import nltk
# needed only if nltk isn't already installed
# nltk.download()
# from nltk.corpus import stopwords
# from nltk import word_tokenize

In [41]:
# import cleaned up movie data
movieDF = pd.read_csv('Inflation_Adjusted_Movie.csv')
movieDF.dtypes

Unnamed: 0               int64
Title                   object
Year                     int64
Release Date            object
Genre                   object
IMDb Rating            float64
Metascore              float64
Rated                   object
Box_Office_Adjusted    float64
dtype: object

In [42]:
# import economic indicator data
econDF = pd.read_csv('USA_Multiyear_Indicators.csv')
econDF.dtypes

Unnamed: 0           int64
LOCATION            object
TIME                 int64
GDP                float64
GDP_1              float64
GDP_2              float64
Unemployment       float64
Unemployment_1     float64
Unemployment_2     float64
Confidence         float64
Confidence_1       float64
Confidence_2       float64
Median_Income        int64
Median_Income_1      int64
Median_Income_2      int64
dtype: object

In [43]:
econDF.head()

,Unnamed: 0,LOCATION,TIME,GDP,GDP_1,GDP_2,Unemployment,Unemployment_1,Unemployment_2,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2
0,0,USA,1992,3.522443,-0.108262,1.885960,7.508333,6.816667,5.616667,98.883736,98.929730,99.391740,53897,54318,55952
1,1,USA,1993,2.752852,3.522443,-0.108262,6.900000,7.508333,6.816667,99.561792,98.883736,98.929730,53610,53897,54318
2,2,USA,1994,4.028831,2.752852,3.522443,6.083333,6.900000,7.508333,100.623117,99.561792,98.883736,54233,53610,53897
3,3,USA,1995,2.684285,4.028831,2.752852,5.608333,6.083333,6.900000,100.611942,100.623117,99.561792,55931,54233,53610
4,4,USA,1996,3.772504,2.684285,4.028831,5.416667,5.608333,6.083333,100.787433,100.611942,100.623117,56744,55931,54233

In [44]:
# rename TIME
econDF=econDF.rename(columns={'TIME':'Year'})

# create rolling average columns
econDF['GDP_AVG']=(econDF.GDP+econDF.GDP_1+econDF.GDP_2)/3
econDF['Unemployment_AVG']=(econDF.Unemployment+econDF.Unemployment_1+econDF.Unemployment_2)/3
econDF['Confidence_AVG']=(econDF.Confidence+econDF.Confidence_1+econDF.Confidence_2)/3
econDF['Median_Income_AVG']=(econDF.Median_Income+econDF.Median_Income_1+econDF.Median_Income_2)/3
econDF.head()

,Unnamed: 0,LOCATION,Year,GDP,GDP_1,GDP_2,Unemployment,Unemployment_1,Unemployment_2,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,0,USA,1992,3.522443,-0.108262,1.885960,7.508333,6.816667,5.616667,98.883736,98.929730,99.391740,53897,54318,55952,1.766714,6.647222,99.068402,54722.333333
1,1,USA,1993,2.752852,3.522443,-0.108262,6.900000,7.508333,6.816667,99.561792,98.883736,98.929730,53610,53897,54318,2.055678,7.075000,99.125086,53941.666667
2,2,USA,1994,4.028831,2.752852,3.522443,6.083333,6.900000,7.508333,100.623117,99.561792,98.883736,54233,53610,53897,3.434709,6.830555,99.689548,53913.333333
3,3,USA,1995,2.684285,4.028831,2.752852,5.608333,6.083333,6.900000,100.611942,100.623117,99.561792,55931,54233,53610,3.155323,6.197222,100.265617,54591.333333
4,4,USA,1996,3.772504,2.684285,4.028831,5.416667,5.608333,6.083333,100.787433,100.611942,100.623117,56744,55931,54233,3.495207,5.702778,100.674164,55636.000000

In [45]:
# join on year
mergedDF = movieDF.merge(econDF, on='Year',how='left')

In [46]:
mergedDF.head(20)

,Unnamed: 0_x,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,Unnamed: 0_y,...,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,2.0,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
1,1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,22.0,...,99.697407,99.120563,98.800227,56969.0,57856.0,55900.0,2.205866,7.202778,99.206066,56908.333333
2,7,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,1.0,...,99.561792,98.883736,98.929730,53610.0,53897.0,54318.0,2.055678,7.075000,99.125086,53941.666667
4,9,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,2.0,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
5,11,Toy Story,1995,22-Nov-95,"Animation, Adventure, Comedy, Family, Fantasy",8.3,95.0,G,301126000.0,3.0,...,100.611942,100.623117,99.561792,55931.0,54233.0,53610.0,3.155323,6.197222,100.265617,54591.333333
6,12,The Big Lebowski,1998,6-Mar-98,"Comedy, Crime",8.1,71.0,R,25725000.0,6.0,...,102.053367,101.912050,100.787433,60040.0,57911.0,56744.0,4.233710,4.958333,101.584283,58231.666667
7,13,Saving Private Ryan,1998,24-Jul-98,"Drama, War",8.6,91.0,R,318255000.0,6.0,...,102.053367,101.912050,100.787433,60040.0,57911.0,56744.0,4.233710,4.958333,101.584283,58231.666667
8,14,Fight Club,1999,15-Oct-99,Drama,8.8,66.0,R,53280000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
9,15,The Matrix,1999,31-Mar-99,"Action, Sci-Fi",8.7,73.0,R,246960000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
10,16,Star Wars: Episode I - The Phantom Menace,1999,19-May-99,"Action, Adventure, Fantasy, Sci-Fi",6.5,51.0,PG,620640000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
11,17,Gladiator,2000,5-May-00,"Action, Adventure, Drama",8.5,67.0,R,260903000.0,8.0,...,102.368075,102.206075,102.053367,61399.0,61526.0,60040.0,4.454040,4.238889,102.209172,60988.333333
12,18,X-Men,2000,14-Jul-00,"Action, Adventure, Sci-Fi",7.4,64.0,PG-13,217069112.3,8.0,...,102.368075,102.206075,102.053367,61399.0,61526.0,60040.0,4.454040,4.238889,102.209172,60988.333333
13,19,Harry Potter and the Sorcerer's Stone,2001,16-Nov-01,"Adventure, Family, Fantasy",7.6,64.0,PG,431878731.8,9.0,...,100.301663,102.368075,102.206075,60038.0,61399.0,61526.0,3.293021,4.313889,101.625271,60987.666667
14,20,The Lord of the Rings: The Fellowship of the Ring,2001,19-Dec-01,"Adventure, Drama, Fantasy",8.8,92.0,PG-13,427040000.0,9.0,...,100.301663,102.368075,102.206075,60038.0,61399.0,61526.0,3.293021,4.313889,101.625271,60987.666667
15,21,The Lord of the Rings: The Two Towers,2002,18-Dec-02,"Adventure, Drama, Fantasy",8.7,87.0,PG,451801000.0,10.0,...,100.293418,100.301663,102.368075,59360.0,60038.0,61399.0,2.289174,4.833333,100.987719,60265.666667
16,22,xXx,2002,9-Aug-02,"Action, Adventure, Thriller",5.9,48.0,PG-13,187708342.4,10.0,...,100.293418,100.301663,102.368075,59360.0,60038.0,61399.0,2.289174,4.833333,100.987719,60265.666667
17,23,Finding Nemo,2003,30-May-03,"Animation, Adventure, Comedy, Family",8.1,90.0,G,494688181.0,11.0,...,100.139544,100.293418,100.301663,59286.0,59360.0,60038.0,1.867082,5.500000,100.244875,59561.333333
18,24,The Lord of the Rings: The Return of the King,2003,17-Dec-03,"Adventure, Drama, Fantasy",8.9,94.0,PG-13,473200000.0,11.0,...,100.139544,100.293418,100.301663,59286.0,59360.0,60038.0,1.867082,5.500000,100.244875,59561.333333
19,25,Anchorman: The Legend of Ron Burgundy,2004,9-Jul-04,Comedy,7.2,63.0,PG-13,106853874.4,12.0,...,100.937925,100.139544,100.293418,59080.0,59286.0,59360.0,2.800599,5.766667,100.456962,59242.000000

In [47]:
mergedDF.columns

Index(['Unnamed: 0_x', 'Title', 'Year', 'Release Date', 'Genre', 'IMDb Rating',
       'Metascore', 'Rated', 'Box_Office_Adjusted', 'Unnamed: 0_y', 'LOCATION',
       'GDP', 'GDP_1', 'GDP_2', 'Unemployment', 'Unemployment_1',
       'Unemployment_2', 'Confidence', 'Confidence_1', 'Confidence_2',
       'Median_Income', 'Median_Income_1', 'Median_Income_2', 'GDP_AVG',
       'Unemployment_AVG', 'Confidence_AVG', 'Median_Income_AVG'],
      dtype='object')

In [48]:
# drop any unnecessary columns
mergedDF = mergedDF[['Title','Year','Release Date', 'Genre', 'IMDb Rating',
       'Metascore', 'Rated', 'Box_Office_Adjusted', 
       'GDP', 'GDP_1', 'GDP_2', 'Unemployment', 'Unemployment_1',
       'Unemployment_2', 'Confidence', 'Confidence_1', 'Confidence_2',
       'Median_Income', 'Median_Income_1', 'Median_Income_2', 'GDP_AVG',
       'Unemployment_AVG', 'Confidence_AVG', 'Median_Income_AVG']]
# export to csv
mergedDF.to_csv('mergedData.csv')

In [49]:
mergedDF.Genre.unique()

array(['Crime, Drama', 'Action, Adventure, Sci-Fi',
       'Crime, Drama, Thriller', 'Adventure, Sci-Fi, Thriller',
       'Animation, Adventure, Drama, Family, Musical',
       'Animation, Adventure, Comedy, Family, Fantasy', 'Comedy, Crime',
       'Drama, War', 'Drama', 'Action, Sci-Fi',
       'Action, Adventure, Fantasy, Sci-Fi', 'Action, Adventure, Drama',
       'Adventure, Family, Fantasy', 'Adventure, Drama, Fantasy',
       'Action, Adventure, Thriller',
       'Animation, Adventure, Comedy, Family', 'Comedy',
       'Crime, Thriller', 'Action, Adventure',
       'Drama, Mystery, Sci-Fi, Thriller',
       'Action, Drama, Sci-Fi, Thriller',
       'Action, Crime, Drama, Thriller', 'Action, Adventure, Comedy, War',
       'Action, Adventure, Sci-Fi, Thriller', 'Adventure, Drama, War',
       'Action, Thriller', 'Adventure, Comedy, Horror, Sci-Fi',
       'Animation, Comedy, Family, Fantasy',
       'Animation, Action, Adventure, Family, Fantasy', 'Action, Comedy',
       'Action, Comedy, Crime, Thriller', 'Mystery, Thriller',
       'Adventure, Drama, Fantasy, Mystery', 'Mystery, Sci-Fi, Thriller',
       'Action, Adventure, Fantasy', 'Crime, Drama, Mystery, Thriller',
       'Action, Crime, Drama, Sci-Fi, Thriller', 'Action, Comedy, Crime',
       'Horror', 'Action, Drama, Mystery, Sci-Fi',
       'Comedy, Fantasy, Horror', 'Drama, Western',
       'Action, Crime, Sci-Fi', 'Drama, Thriller', 'Comedy, Drama',
       'Action, Comedy, Sport',
       'Animation, Comedy, Family, Fantasy, Horror',
       'Action, Crime, Thriller', 'Action, Adventure, Crime, Thriller',
       'Action', 'Action, Adventure, Comedy, Sci-Fi', 'Comedy, Family',
       'Adventure, Mystery, Sci-Fi', 'Action, Sci-Fi, Thriller',
       'Animation, Action, Adventure, Comedy, Family, Fantasy',
       'Horror, Mystery, Thriller', 'Action, Adventure, Drama, Fantasy',
       'Comedy, Fantasy', 'Comedy, Romance',
       'Action, Adventure, Mystery, Sci-Fi, Thriller',
       'Adventure, Fantasy', 'Comedy, Crime, Drama',
       'Adventure, Comedy, Fantasy',
       'Action, Adventure, Horror, Sci-Fi, Thriller',
       'Action, Adventure, Western', 'Action, Drama, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Fantasy, Sci-Fi',
       'Crime, Mystery, Thriller', 'Adventure, Comedy, Crime',
       'Horror, Thriller', 'Action, Comedy, Sci-Fi',
       'Drama, History, Thriller', 'Drama, Music', 'Drama, Romance',
       'Comedy, Crime, Thriller', 'Biography, Drama, Sport',
       'Fantasy, Horror, Thriller',
       'Action, Comedy, Crime, Drama, Thriller',
       'Action, Crime, Mystery, Thriller', 'Action, Fantasy, War',
       'Horror, Sci-Fi, Thriller', 'Adventure, Family, Fantasy, Thriller',
       'Biography, Crime, Drama', 'Adventure, Comedy, Crime, Drama',
       'Comedy, Drama, Romance', 'Crime, Drama, Horror, Thriller',
       'Action, Fantasy, Horror', 'Action, Drama, Thriller',
       'Comedy, Drama, Sci-Fi', 'Crime, Drama, Fantasy, Mystery',
       'Drama, Mystery, Thriller',
       'Action, Adventure, Comedy, Mystery, Sci-Fi',
       'Animation, Adventure, Family, Fantasy, Mystery',
       'Adventure, Drama, Fantasy, Romance', 'Comedy, Sport',
       'Adventure, Comedy', 'Adventure, Family, Fantasy, Mystery',
       'Animation, Action, Adventure, Family', 'Comedy, Horror',
       'Animation, Family', 'Drama, Fantasy, War',
       'Action, Mystery, Thriller',
       'Animation, Adventure, Comedy, Drama, Family, Fantasy',
       'Action, Crime, Fantasy, Thriller',
       'Action, Adventure, Crime, Mystery, Thriller',
       'Action, Adventure, Drama, Thriller', 'Adventure, Comedy, Music',
       'Adventure, Fantasy, Mystery',
       'Action, Adventure, Drama, History, Romance',
       'Animation, Adventure, Comedy, Family, Sport',
       'Action, Sci-Fi, Thriller, Western', 'Comedy, Mystery',
       'Adventure, Comedy, Sci-Fi',
       'Animation, Adventure, Comedy, Family, Musical', 'Horror, Mystery',
       'Action, Drama, Fantasy, Romance',
       'Action, Drama, Family, Sci-Fi, Sport', 'Comedy, Drama, Family',
       'Action, Fantasy, Horror, Western', 'Drama, Sci-Fi, Thriller',
       'Action, Horror, Thriller', 'Drama, Horror, Thriller',
       'Animation, Adventure, Comedy, Drama, Family, Fantasy, Musical',
       'Comedy, Drama, Family, Fantasy',
       'Action, Horror, Sci-Fi, Thriller',
       'Action, Comedy, Horror, Sci-Fi', 'Drama, Horror',
       'Animation, Adventure, Comedy, Family, Fantasy, Sci-Fi',
       'Action, Drama, Mystery, Thriller', 'Adventure, Drama, Romance',
       'Comedy, Horror, Sci-Fi', 'Drama, Mystery, Sci-Fi',
       'Drama, Thriller, War', 'Comedy, Drama, Music',
       'Animation, Adventure, Comedy, Family, Sci-Fi',
       'Animation, Adventure, Family, Fantasy, Thriller',
       'Comedy, Drama, Family, Sport', 'Adventure, Comedy, Drama, Music',
       'Adventure, Comedy, Crime, Music',
       'Action, Crime, Mystery, Sci-Fi, Thriller',
       'Drama, Horror, Sci-Fi, Thriller', 'Comedy, Music', 'Drama, Sport',
       'Adventure, Comedy, Family, Fantasy, Musical',
       'Adventure, Drama, Thriller', 'Action, Comedy, Mystery',
       'Horror, Sci-Fi', 'Action, Drama, Fantasy',
       'Animation, Action, Adventure, Comedy, Family',
       'Action, Drama, Mystery, Sci-Fi, Thriller',
       'Drama, Fantasy, Thriller',
       'Action, Drama, Family, Romance, Sport',
       'Action, Adventure, Comedy', 'Action, Adventure, Family, Fantasy',
       'Animation, Action, Comedy, Family, Sci-Fi',
       'Animation, Adventure, Comedy, Family, Fantasy, Romance',
       'Action, Fantasy, Thriller',
       'Action, Comedy, Crime, Sci-Fi, Thriller',
       'Fantasy, Horror, Mystery, Romance, Thriller',
       'Adventure, Drama, Mystery', 'Adventure, Comedy, Family, Musical',
       'Drama, History, War', 'Action, Adventure, Drama, Thriller, War',
       'Animation, Comedy, Family, Horror, Sci-Fi',
       'Action, Adventure, Drama, Horror, Mystery, Thriller',
       'Action, Adventure, Comedy, Family, Fantasy, Sci-Fi',
       'Adventure, Comedy, Drama, Family, Fantasy',
       'Drama, Fantasy, Horror, Thriller', 'Comedy, Crime, Drama, Sci-Fi',
       'Drama, Fantasy, Horror, Mystery, Thriller', 'Drama, Fantasy',
       'Drama, Mystery', 'Adventure, Drama',
       'Comedy, Crime, Drama, Thriller', 'Adventure, Drama, Sci-Fi',
       'Action, Comedy, Thriller',
       'Animation, Adventure, Family, Fantasy, Musical, War',
       'Action, Adventure, Fantasy, Thriller', 'Comedy, Crime, Mystery',
       'Action, Horror, Sci-Fi', 'Adventure, Comedy, Family, Fantasy',
       'Crime, Horror, Mystery, Thriller',
       'Drama, Horror, Mystery, Thriller',
       'Action, Fantasy, Horror, Mystery', 'Adventure, Comedy, Family',
       'Drama, Horror, Sci-Fi', 'Adventure, Drama, Family, Fantasy',
       'Comedy, Family, Fantasy', 'Drama, Horror, Musical, Thriller',
       'Action, Drama, Sport', 'Action, Thriller, War',
       'Crime, Drama, History, Thriller',
       'Animation, Adventure, Comedy, Drama, Family',
       'Action, Adventure, Fantasy, Horror, Sci-Fi',
       'Action, Adventure, Family, Fantasy, Sci-Fi',
       'Animation, Action, Adventure, Sci-Fi',
       'Adventure, Comedy, Fantasy, Mystery', 'Comedy, War',
       'Drama, Family', 'Action, Horror, Mystery, Sci-Fi, Thriller',
       'Comedy, Sci-Fi', 'Action, Adventure, Horror, Sci-Fi',
       'Action, Adventure, Fantasy, Horror, Sci-Fi, Thriller',
       'Horror, Mystery, Sci-Fi', 'Drama, Sci-Fi',
       'Drama, History, Romance',
       'Adventure, Comedy, Crime, Horror, Romance',
       'Action, Crime, Drama', 'Drama, Romance, Sci-Fi',
       'Action, Comedy, Crime, Mystery, Thriller',
       'Action, Mystery, Sci-Fi, Thriller',
       'Action, Crime, Sci-Fi, Thriller',
       'Adventure, Comedy, Sci-Fi, Western',
       'Action, Adventure, Comedy, Family, Sci-Fi',
       'Animation, Family, Fantasy, Musical', 'Fantasy, Horror, Mystery',
       'Comedy, Mystery, Sci-Fi', 'Action, Drama, History, War',
       'Animation, Action, Adventure, Family, Fantasy, Sci-Fi',
       'Action, Adventure, Comedy, Crime',
       'Animation, Adventure, Comedy, Drama, Family, Fantasy, Sci-Fi',
       'Adventure, Comedy, Family, Fantasy, Mystery',
       'Comedy, Drama, Fantasy', 'Action, Adventure, Mystery, Thriller',
       'Comedy, Crime, Sport', 'Action, Comedy, Drama, Family',
       'Action, Adventure, Fantasy, Sci-Fi, Thriller',
       'Action, Crime, Drama, Western',
       'Animation, Action, Adventure, Fantasy',
       'Adventure, Comedy, Drama',
       'Adventure, Crime, Drama, Thriller, War',
       'Action, Adventure, Crime, Fantasy, Sci-Fi, Thriller',
       'Action, Crime, Drama, Mystery, Thriller',
       'Animation, Drama, Fantasy, Thriller',
       'Action, Adventure, Family, Fantasy, Sci-Fi, Thriller',
       'Animation, Adventure, Comedy, Crime, Drama, Family',
       'Action, Drama, Thriller, War',
       'Adventure, Comedy, Drama, Romance',
       'Crime, Drama, Horror, Mystery', 'Fantasy',
       'Drama, Horror, Mystery', 'Biography, Comedy, Crime, Drama',
       'Adventure, Comedy, Sci-Fi, Thriller', 'Crime, Drama, Sport',
       'Action, Crime, Fantasy', 'Comedy, Crime, Fantasy',
       'Adventure, Thriller',
       'Animation, Adventure, Comedy, Family, Fantasy, Sci-Fi, Sport',
       'Animation, Adventure, Drama, Family, Fantasy, Musical, Mystery, Romance',
       'Adventure, Comedy, Drama, Family, Romance',
       'Adventure, Comedy, Drama, Fantasy',
       'Fantasy, Horror, Mystery, Thriller',
       'Adventure, Drama, Romance, Thriller', 'Comedy, Romance, Sport',
       'Action, Adventure, Comedy, Crime, Thriller',
       'Drama, Music, Romance', 'Comedy, Crime, Musical',
       'Action, Adventure, Crime', 'Comedy, Drama, Family, Romance',
       'Action, Adventure, Drama, History, War',
       'Action, Crime, Drama, Mystery, Sci-Fi, Thriller',
       'Animation, Adventure, Comedy, Family, Fantasy, Musical',
       'Action, Crime',
       'Animation, Drama, Family, Fantasy, Musical, Romance',
       'Animation, Adventure, Comedy, Family, Music, Musical, Romance',
       'Animation, Adventure, Comedy',
       'Action, Adventure, Fantasy, Horror, Thriller',
       'Comedy, Drama, Music, Romance', 'Comedy, Drama, Musical, Romance',
       'Animation, Action, Adventure, Comedy, Family, Fantasy, Sci-Fi',
       'Comedy, Fantasy, Romance',
       'Action, Fantasy, Horror, Sci-Fi, Thriller',
       'Action, Comedy, Romance', 'Drama, Fantasy, Romance',
       'Action, Comedy, Romance, Thriller',
       'Action, Adventure, Drama, History',
       'Animation, Adventure, Family, Fantasy', 'Comedy, Horror, Romance',
       'Action, Crime, Horror, Thriller', 'Drama, Romance, Thriller',
       'Drama, Mystery, Romance, Thriller',
       'Action, Adventure, Family, Fantasy, Romance',
       'Animation, Drama, Family, Musical, Romance',
       'Drama, Romance, War', 'Comedy, Drama, History, Romance',
       'Animation, Adventure, Family, Sci-Fi',
       'Comedy, Family, Fantasy, Music, Romance',
       'Action, Adventure, Comedy, Thriller',
       'Action, Adventure, Crime, Fantasy, Thriller',
       'Animation, Comedy, Crime, Family, Musical, Mystery',
       'Crime, Horror, Mystery', 'Action, Fantasy, Horror, Thriller',
       'Action, Comedy, Drama, Thriller',
       'Animation, Adventure, Comedy, Family, Fantasy, Mystery',
       'Animation, Comedy, Family, Fantasy, Music',
       'Animation, Comedy, Family, Sport',
       'Action, Adventure, Drama, Fantasy, History',
       'Action, Adventure, Comedy, Romance, Thriller',
       'Action, Adventure, Drama, Family, Fantasy',
       'Comedy, Family, Romance', 'Adventure, Mystery, Thriller',
       'Adventure, Comedy, Family, Romance',
       'Animation, Adventure, Comedy, Family, Fantasy, Music',
       'Horror, Mystery, Sci-Fi, Thriller',
       'Biography, Drama, Family, Romance',
       'Drama, Fantasy, Mystery, Romance', 'Animation, Family, Fantasy',
       'Action, Comedy, Sci-Fi, Thriller', 'Action, Comedy, Drama',
       'Biography, Comedy, Crime, Drama, Romance',
       'Comedy, Family, Fantasy, Sport', 'Action, Adventure, History',
       'Comedy, Drama, Romance, Sci-Fi', 'Comedy, Drama, Romance, Sport',
       'Drama, Fantasy, Sport', 'Action, Horror',
       'Comedy, Family, Music, Romance',
       'Action, Adventure, Comedy, Drama, Romance',
       'Action, Comedy, Fantasy',
       'Action, Adventure, Comedy, Fantasy, Thriller',
       'Drama, Musical, Romance', 'Adventure, Comedy, Family, Sci-Fi',
       'Adventure, Comedy, Music, Musical', 'Comedy, Family, Sport',
       'Adventure, Family, Fantasy, Sci-Fi',
       'Action, Adventure, Comedy, Drama, Family, Sci-Fi, Sport',
       'Drama, Fantasy, Mystery, Sci-Fi, Thriller',
       'Animation, Drama, Family, Fantasy',
       'Action, Drama, Fantasy, Thriller, Western', 'Documentary, Music',
       'Adventure, Comedy, Drama, Fantasy, Romance',
       'Comedy, Drama, Sport', 'Comedy, Drama, Fantasy, Romance',
       'Drama, Music, Romance, Thriller', 'Action, Drama, Horror',
       'Crime, Drama, Romance, Thriller', 'Crime, Romance, Thriller',
       'Action, Adventure, Comedy, Drama, War',
       'Action, Comedy, Sci-Fi, Western',
       'Comedy, Drama, Romance, Thriller', 'Drama, Family, Romance',
       'Comedy, Family, Fantasy, Romance', 'Action, Drama, Romance, War',
       'Drama, Music, Musical', 'Drama, Fantasy, Mystery, Thriller',
       'Crime, Drama, Romance, Western',
       'Comedy, Drama, Family, Music, Musical, Romance',
       'Biography, Comedy, Drama, Romance', 'Comedy, Crime, Romance',
       'Comedy, Drama, Family, Music, Romance',
       'Action, Comedy, Crime, Family', 'Action, Comedy, Family',
       'Action, Fantasy, Western',
       'Action, Adventure, Drama, Horror, Thriller',
       'Action, Drama, Horror, Sci-Fi, Thriller',
       'Adventure, Drama, Sport, Thriller',
       'Adventure, Fantasy, Thriller', 'Adventure, Comedy, Family, Sport',
       'Action, Adventure, Comedy, Fantasy',
       'Action, Adventure, Horror, Thriller', 'Comedy, Crime, Family',
       'Action, Adventure, Romance, Sci-Fi, Thriller',
       'Action, Adventure, Family, Sci-Fi, Thriller',
       'Action, Crime, Romance, Thriller',
       'Animation, Adventure, Comedy, Family, Romance',
       'Animation, Adventure, Family, Thriller',
       'Crime, Drama, Mystery, Sci-Fi, Thriller',
       'Comedy, Drama, Mystery', 'Drama, Mystery, Romance, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family',
       'Action, Drama, Romance, Western',
       'Action, Adventure, Comedy, Family, Western',
       'Family, Music, Musical, Romance',
       'Comedy, Fantasy, Horror, Thriller', 'Comedy, Crime, Music',
       'Action, Adventure, Romance, Thriller, Western', 'Comedy, Musical',
       'Animation, Adventure, Comedy, Family, Fantasy, Mystery, Sci-Fi',
       'Adventure, Comedy, Crime, Family, Mystery', 'Sci-Fi, Thriller',
       'Comedy, Music, Romance',
       'Crime, Drama, Horror, Mystery, Thriller',
       'Crime, Horror, Thriller', 'Comedy, Crime, Romance, Thriller',
       'Action, Crime, Horror, Mystery, Thriller',
       'Documentary, Action, Comedy', 'Thriller',
       'Drama, Family, Fantasy, Sport', 'Animation, Adventure, Family',
       'Comedy, Drama, Mystery, Sci-Fi, Thriller',
       'Comedy, Crime, Musical, Mystery',
       'Adventure, Drama, Romance, Western',
       'Comedy, Crime, Family, Music',
       'Comedy, Crime, Drama, Mystery, Thriller',
       'Adventure, Drama, Family', 'Comedy, Drama, Thriller',
       'Drama, Romance, Western', 'Action, Comedy, Fantasy, Sci-Fi',
       'Animation, Action, Adventure, Family, Sci-Fi',
       'Drama, Fantasy, Horror',
       'Action, Adventure, Biography, Drama, Sport, Western',
       'Action, Adventure, Drama, Romance',
       'Comedy, Crime, Family, Romance',
       'Comedy, Crime, Drama, Music, Romance',
       'Action, Biography, Drama, Sport', 'Comedy, Romance, Sci-Fi',
       'Drama, Horror, Mystery, Sci-Fi, Thriller',
       'Animation, Action, Adventure, Sci-Fi, Thriller',
       'Animation, Comedy, Crime, Family, Mystery',
       'Action, Comedy, Horror, Thriller', 'Action, Drama, War',
       'Comedy, Drama, Mystery, Romance',
       'Action, Adventure, Comedy, Crime, Drama, Romance',
       'Drama, Fantasy, Horror, Mystery, Romance, Thriller',
       'Animation, Drama, Fantasy',
       'Action, Adventure, Comedy, Family, Romance',
       'Drama, Fantasy, Horror, Mystery',
       'Action, Adventure, Comedy, Western', 'Drama, Romance, Sport',
       'Animation, Adventure, Drama, Family, Western',
       'Action, Comedy, Crime, Drama',
       'Adventure, Comedy, Family, Fantasy, Horror, Mystery, Sci-Fi',
       'Adventure, Comedy, Mystery', 'Crime, Drama, Music',
       'Comedy, Family, Romance, Sport',
       'Crime, Drama, Fantasy, Mystery, Thriller',
       'Action, Adventure, War',
       'Comedy, Drama, Fantasy, Romance, Sci-Fi',
       'Animation, Adventure, Family, Fantasy, Musical',
       'Comedy, Horror, Mystery, Thriller', 'Biography, Drama',
       'Biography, Crime, Drama, Horror',
       'Fantasy, Horror, Sci-Fi, Thriller',
       'Adventure, Comedy, Drama, Romance, Thriller, War',
       'Crime, Drama, Musical',
       'Action, Comedy, Crime, Music, Romance, Thriller',
       'Action, Adventure, Crime, Drama, Thriller', 'Comedy, Western',
       'Action, Adventure, Comedy, Thriller, Western',
       'Action, Adventure, Comedy, Romance',
       'Adventure, Comedy, Crime, Romance',
       'Drama, Family, Fantasy, Romance', 'Action, Crime, Drama, Sport',
       'Action, Comedy, Fantasy, Romance',
       'Adventure, Comedy, Family, Music, Romance',
       'Comedy, Family, Fantasy, Horror, Mystery',
       'Biography, Drama, History, Romance', 'Comedy, Family, Music',
       'Comedy, Crime, Family, Mystery, Romance, Thriller',
       'Documentary, Crime, News', 'Action, Comedy, Family, Fantasy',
       'Biography, Comedy, Drama, Family, Romance',
       'Crime, Drama, Western', 'Action, Adventure, Family, Thriller',
       'Action, Drama, Fantasy, Mystery, Thriller',
       'Adventure, Crime, Thriller', 'Action, Adventure, Romance',
       'Drama, Fantasy, Romance, Sci-Fi', 'Drama, Family, Sport',
       'Adventure, Drama, Romance, War',
       'Animation, Adventure, Comedy, Family, Music, Western',
       'Comedy, Horror, Sci-Fi, Thriller',
       'Adventure, Comedy, Family, Fantasy, Romance, Sport',
       'Drama, Sport, Thriller',
       'Animation, Adventure, Comedy, Family, War',
       'Action, Adventure, Fantasy, Horror',
       'Adventure, Comedy, Family, Romance, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family, Mystery',
       'Biography, Comedy, Drama, Music', 'Documentary',
       'Drama, Fantasy, Sci-Fi', 'Adventure, Drama, Mystery, Thriller',
       'Comedy, Crime, History, Thriller', 'Crime, Drama, Romance',
       'Drama, Mystery, Romance',
       'Comedy, Drama, Family, Fantasy, Musical', 'Crime, Drama, Mystery',
       'Action, Adventure, Mystery, Sci-Fi', 'Action, Comedy, Horror',
       'Comedy, Crime, Drama, Romance',
       'Drama, Fantasy, Mystery, Romance, Thriller',
       'Comedy, Drama, Romance, Music', 'Action, Drama, Romance',
       'Drama, Family, Sci-Fi', 'Animation, Drama',
       'Comedy, Drama, Horror, Thriller',
       'Action, Drama, Mystery, Thriller, War', 'Comedy, Family, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family, Sci-Fi',
       'Comedy, Family, Romance, Sci-Fi',
       'Animation, Action, Adventure, Comedy, Crime, Family, Fantasy, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family, Romance, Thriller',
       'Adventure, Comedy, Sport', 'Comedy, Romance, Drama',
       'Documentary, Family', 'Action, Drama, Fantasy, Horror, Thriller',
       'Action, Comedy, Music',
       'Action, Comedy, Crime, Fantasy, Horror, Mystery, Sci-Fi, Thriller',
       'Comedy, Drama, War', 'Comedy, Crime, Drama, Family',

In [50]:
newDF = mergedDF
newDF.head()

,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,GDP_1,...,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,2.752852,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,1.842081,...,99.697407,99.120563,98.800227,56969.0,57856.0,55900.0,2.205866,7.202778,99.206066,56908.333333
2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,3.522443,...,99.561792,98.883736,98.929730,53610.0,53897.0,54318.0,2.055678,7.075000,99.125086,53941.666667
4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,2.752852,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333

In [51]:
top_N = 30
a = newDF.Genre.str.lower().str.cat(sep=' ')
words = nltk.tokenize.word_tokenize(a)
word_dist = nltk.FreqDist(words)
print (word_dist)

<FreqDist with 23 samples and 17880 outcomes>

In [52]:
rslt = pd.DataFrame(word_dist.most_common(top_N),
                    columns=['Word', 'Frequency'])
print(rslt)

           Word  Frequency
0             ,       7188
1         drama       1903
2        comedy       1441
3      thriller       1057
4       romance        901
5        action        818
6     adventure        686
7         crime        684
8       fantasy        450
9        family        421
10      mystery        401
11       sci-fi        391
12       horror        336
13    biography        266
14    animation        193
15        music        156
16        sport        148
17      history        135
18          war        119
19      musical         75
20  documentary         64
21      western         46
22         news          1

In [53]:
rslt = rslt.iloc[1:23]

In [54]:
rslt

           Word  Frequency
1         drama       1903
2        comedy       1441
3      thriller       1057
4       romance        901
5        action        818
6     adventure        686
7         crime        684
8       fantasy        450
9        family        421
10      mystery        401
11       sci-fi        391
12       horror        336
13    biography        266
14    animation        193
15        music        156
16        sport        148
17      history        135
18          war        119
19      musical         75
20  documentary         64
21      western         46
22         news          1

In [55]:
rsltList = list(rslt.Word)
rsltList

['drama',
 'comedy',
 'thriller',
 'romance',
 'action',
 'adventure',
 'crime',
 'fantasy',
 'family',
 'mystery',
 'sci-fi',
 'horror',
 'biography',
 'animation',
 'music',
 'sport',
 'history',
 'war',
 'musical',
 'documentary',
 'western',
 'news']

In [56]:
# new data frame with split value columns 
genreDF = newDF["Genre"].str.split(" ", n = 20, expand = True) 
genreDF.head()

            0           1         2        3        4     5     6     7
0      Crime,       Drama      None     None     None  None  None  None
1     Action,  Adventure,    Sci-Fi     None     None  None  None  None
2      Crime,      Drama,  Thriller     None     None  None  None  None
3  Adventure,     Sci-Fi,  Thriller     None     None  None  None  None
4  Animation,  Adventure,    Drama,  Family,  Musical  None  None  None

In [57]:
# lowercase all genres and replace ','
for index in (range(genreDF.shape[1])):
    genreDF[index]=genreDF[index].str.lower().str.replace(',','')

In [58]:
# create placeholder columns in new DF to count category
# genreDFCount = pd.DataFrame()
for genre in rsltList:
    genreDF[genre] = 0
genreDF.head()

,0,1,2,3,4,5,6,7,drama,comedy,...,biography,animation,music,sport,history,war,musical,documentary,western,news
0,crime,drama,None,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
1,action,adventure,sci-fi,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
2,crime,drama,thriller,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
3,adventure,sci-fi,thriller,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
4,animation,adventure,drama,family,musical,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
# loop through every row of genreDF
for key,value in genreDF.iterrows():
# loop through every column of genreDF

    for genre in value[0:7]:
        if genre in rsltList:
#             print(genreDF[genre][key])
            genreDF[genre][key] = 1
#             print(genreDF[genre])

C:\Users\19086\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [60]:
genreDF.head()

,0,1,2,3,4,5,6,7,drama,comedy,...,biography,animation,music,sport,history,war,musical,documentary,western,news
0,crime,drama,None,None,None,None,None,None,1,0,...,0,0,0,0,0,0,0,0,0,0
1,action,adventure,sci-fi,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
2,crime,drama,thriller,None,None,None,None,None,1,0,...,0,0,0,0,0,0,0,0,0,0
3,adventure,sci-fi,thriller,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
4,animation,adventure,drama,family,musical,None,None,None,1,0,...,0,1,0,0,0,0,1,0,0,0

In [61]:
genreDF.to_csv('genreCount.csv')

In [73]:
# drop columns 0-7
genreDF = genreDF.iloc[:,8:]

In [77]:
# merge genreDF back with mergedDF, join on index 
mergedDF = mergedDF.join(other=genreDF,how='left')

In [78]:
mergedDF.head()

,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,GDP_1,...,biography,animation,music,sport,history,war,musical,documentary,western,news
0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,2.752852,...,0,0,0,0,0,0,0,0,0,0
1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,1.842081,...,0,0,0,0,0,0,0,0,0,0
2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,3.522443,...,0,0,0,0,0,0,0,0,0,0
4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,2.752852,...,0,1,0,0,0,0,1,0,0,0

In [79]:
mergedDF.to_csv('mergedData.csv')